{% extends 'portfolio/base.html '%}
{% block title %}HIRE ME!{% endblock%}

{%block content%}

	<div class="container">
		
		{% if submit %}
		<p align="center"> Message Successfully Sent</p>
		<p align="center">You will be redirected in 3 seconds</p>
	    <script>
	        var timer = setTimeout(function() {
	            window.location='http://127.0.0.1:8000/'
	        }, 3000);
	    </script>
		{%else%}
		<h1 align="center">Contact Form</h1>
		<form  method="POST" accept-charset="utf-8">
			{%csrf_token%}
			<div class="form-group">
			    <label for="exampleInputEmail1">Name</label>
			    <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name='Name' required>
		
	  		</div>
			<div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='Email' required>
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  		</div>

		  	<div class="form-group">
			    <label for="exampleFormControlTextarea1">Message</label>
			    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='Message'></textarea>
		  	</div>
		  	<div class="form-group form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
			    <label class="form-check-label" for="exampleCheck1">Check me out</label>
			     <div class="invalid-feedback">
			        You must agree before submitting.
			      </div>
		  	</div>
		   	<button type="submit" class="btn btn-primary">Submit</button>
			


	 
		</form>
		{%endif%}
	</div>









{%endblock%}