{% extends 'portfolio/base.html '%}
{% block title %}PortFolio{% endblock%}

{%block content%}

<div class="container" style='margin-top: 80px'>
	<div class="card-deck">
	  <div class="card">
	   
	    <div class="card-body">
	      <h5 class="card-title">Blog App</h5>
	      <p class="card-text">This is a my first project at this level. Trying to add new features.</p>
	      <p class="card-text"><small class="text-muted"><a href="https://unicode.pythonanywhere.com/" target="_blank" title="">Click Here</a></small></p>
	    </div>
	  </div>
	  <div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title">Coming Soon</h5>
	      <p class="card-text">Wait for something better.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  
</div>
</div>
{%endblock%}